<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Invoice - Order #<%= order_id %></title>
  <style type="text/css">
    /* ---------- Standard Stripping and basic style stuff ------------- */
    :link,:visited { text-decoration:none }
    ul,ol { list-style:none }
    h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; font-weight:normal; }
    ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0 }
    a img,:link img,:visited img { border:none }
    address { font-style:normal;line-height:1.3em;padding-top:2px;font-size:1.1em; }
    body { font-family: Helvetica,Arial,sans-serif; font-size: 62.5%; margin-outside:0; margin-inside:0;}

    .content {
      width:730px;
    }

    .content a {
      color:#383838;
    }

    #headerInvoice {
      clear:left;
      padding-top:0px;
      width:100%;
      border-bottom:5px solid #000;
      padding-bottom:14px;
      height:68px;
    }

    #wellLogo {
      color:#fff;
      display:block;
      float:left;
      width:280px;
      height:68px;
    }

    #wellLogo img {
      width:280px;
      height:68px;
    }

    #headerInvoice address {
      text-align:right;
      font-size:1.1em;
      color:#000;
      float:right;
      padding-left:58px;
      padding-top:1px;
    }

    #headerInvoice:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .invoiceLeft {
      width:364px;
      float:left;
      border-right:1px solid #6c6c6c;
    }

    .invoiceRight {
      width:364px;
      float:right;
      border-left:1px solid #6c6c6c;
      background: transparent url(../images/invoiceProduct-bg.png) top left repeat-x;
    }

    .invoiceFooter {
      width:100%;
      text-align:center;
      clear:both;
      padding-top:20px;
      padding-bottom:17px;
    }

    h2 {
      font-weight:bold;
      padding-right:20px;
      font-size:2.0em;
      margin-top:17px;
    }

    .invoiceItems h2 {
      padding-left:6px;
      padding-top:10px;
    }

    .invoiceItems .dataTableContent, .invoiceText {
      text-align:right;
      font-size:11px;
    }

    .invoiceItems .dataTableAmount, .invoiceAmount {
      font-size:11px;
    }

    h2 small {
      font-weight:normal;
      font-size:0.5em;
      color:#383838;
    }

    h3 {
      font-weight:bold;
      padding-right:20px;
      font-size:1.2em;
      margin-top:10px;
    }

    .invoiceItems table {
      border-collapse:collapse;
      border-top:1px solid #000;
    }

    .invoiceItems table td {
      border-bottom:1px solid #000;
      padding:5px 6px;
    }

    .invoiceItems table td.productName {
      width:450px;
    }

    .invoiceItems table td.productPrice {
      width:280px;
      text-align:right;
      border-left:1px solid #000;
    }

    .invoiceItems table p {
      font-weight:normal;
      font-size:11px;
    }

    h4 {
      font-weight:normal;
      padding-right:20px;
      font-size:1.1em;
      clear:left;
      color:#383838;
      padding-top:2px;
    }

    h4 strong {
      color:#000;
    }

    .invoiceMessage {
      border-right:1px solid #aaa;
    }

    .invoiceItems {
      border-top:5px solid #000;
      clear:left;
    }

    .invoiceMessage, .shippingInfo {
      width:354px;
      padding-bottom:10px;
      padding-left:10px;
      float:left
    }

    .invoiceMessage p {
      font-size:1.1em;
      padding-right:20px;
      line-height:1.3em;
      color:#383838;
    }

    .addy {
      float:left;
      width:150px;
      padding-bottom:0px;
      color:#383838;
    }

    .ccInfo {

    }

    .addy h3{
      color:#000;
      margin-top:0px;
    }

    .invoiceInfo {
      padding-bottom:16px;
    }

    .invoiceSpecials {
      padding-top:5px;
      padding-bottom:16px;
      border-top:1px dashed #aaa;
      border-bottom:1px dashed #aaa;
      clear:both;
    }

    .invoiceItems .invoiceRight h2 {
      float:left;
      padding-bottom:36px;
      padding-left:10px;
      padding-right:0px;
    }

    .invoiceItems .invoiceRight h3.orderNo {
      float:right;
      padding-left:0px;
      padding-top:10px;
      font-weight:normal;
      font-size:1.4em;
      margin-top:10px
    }

    .invoiceItems .invoiceRight h3.product {
      margin-top:10px
    }

    .invoiceItems .invoiceRight h3 {
      margin-top:6px
      font-size:1.5em;
    }

    .invoiceItems .productEntry {
      border-top:1px solid #aaa;
      clear:both;
      padding:2px 20px 10px 10px;
    }

    .invoiceItems span.tax {
      font-size:0.9em;
      font-weight:normal;
      color:#383838;
    }

    .invoiceItems .invoiceTotals {
      font-size:1.1em;
      border-top:1px solid #6c6c6c;
      width:364px;
      padding:12px 0 0 0;
      border-collapse:collapse;
      background:transparent url(../images/invoiceTable-bg.png) left bottom repeat;
    }

    .invoiceItems .invoiceTotals td.invoiceText,
    .invoiceItems .invoiceTotals td.dataTableContent {
      width:100px;
      padding:6px 0px 4px 10px;
    }

    .invoiceItems .invoiceTotals td.invoiceAmount,
    .invoiceItems .invoiceTotals td.dataTableAmount {
      padding:6px 160px 4px 10px;
    }

    .invoiceItems tr.finalBalance {
      background:#a5a5a5;
    }

    .promo_message {
        float:left;
        font-size:1.7em;
        margin:15 15 5 15;
    }
  </style>
</head>
<body style="margin: 0px; padding:0px; -webkit-text-size-adjust:none;" yahoo="fix">
<!--*** Start of: Table used to center email ***-->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center" valign="top" style="padding: 0 20px;background: #fff">
      <!--*** Start of: Table used to set width of email ***-->
      <table style="margin-top: 20px" class="container" width="704" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
        <tr style="height: 20px" bgcolor="#2d1328">
          <td valign="middle">
            <h3 style="color: #fff;margin: 0px;font-size: 12px;text-align: center;font-family:arial,helvetica,sans-serif;">Regrow Thicker, Beautiful Hair</h3>
          </td>
        </tr>
        <tr style="height: 16px"></tr>
        <tr>
          <td>
            <%= image_tag 'rogaine-women-header.png', style: 'width: 704px; margin-left: 1px; margin-right: 2px' %>
          </td>
        </tr>
      </table>

      <table style="margin-left: -2px;" class="container" width="704" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="background: #fafafa;border: 5px solid #2d1328;border-bottom: 0px;border-top:0px;padding: 10px 35px;">
            <p style="font-family:arial,helvetica,sans-serif;font-size:14px;">
              Your order summary is:
            </p>
          </td>
        </tr>
      </table>

      <table class="container" width="758" border="0" cellspacing="0" cellpadding="0" style="border: 4px solid #2d1328">
        <%= image_tag 'women-order-shadow.png', style: 'width: 758px; height: 20px' %>
        <tr>
          <td valign="top" style="padding: 10px">

            <div class="content">
            <div id="headerInvoice">
              <h1 id="wellLogo"><img src="http://well.ca/images/invoiceLogo-lg.png" alt="Well.ca, Canada's online health + beauty store." /></h1>
              <address>935B Southgate Drive, Guelph, Ontario, N1L 0B9, N1H 4J4, Canada<br />GST Number: 81088 8750 RT0001 | Toll-Free: 1 [866] 640-3800<br />Pharmaceutical sales are done under the accreditation of Norfolk Pharmacy<br /><b>OCP Accred# 023424</b></address>
            </div>

            <!-- Customer Billing and Shipping info -->
            <div class="invoiceInfo" style="clear:left">
              <div class="invoiceMessage">
                <h2>Thanks for your order!</h2>
                <p>Thanks for shopping with us online. If you have any questions or comments please contact our customer care team at <strong>info@well.ca</strong>. We'd love to hear from you. :)</p>
                <h2>Hassle free returns</h2>
                <p>Not happy with your purchase? We offer free and easy returns. Please visit <strong>http://Well.ca/Returns</strong> for more information.</p>
                <h2>Please recycle</h2>
                <p>To protect your order from damage during shipment, Well.ca uses recycled paper, which is a greener option than styrofoam or plastic fillers. Please re-use or recycle our packing materials to help keep the earth clean!</p>
              </div>
              <div class="shippingInfo">
              <h2>Your information</h2>

                <div class="addy">
                  <h3>Billing address</h3>
                  <address class="billing">
                    <%= billing_address %>
                  </address>
                            </div>

                <div class="addy">
                  <h3>Shipping address</h3>
                  <address class="shipping">
                    <%= shipping_address %>
                  </address>
                </div>
              </div>

              <div style="float:left; margin-left: 10px; font-size: 16px">
                Please enjoy your complimentary sample.<br>
                Exclusions may apply.
              </div>

              <!-- Invoice Number and Info -->
              <div class="invoiceItems">
                <%= invoice_info %>
              </div>
            </div>
            <!-- body_text_eof //-->
            </div>

          </td>
        </tr>
      </table>

      <table border="0" cellpadding="0" cellspacing="0" width="794px" style="margin-top: 35px">
        <tr>
          <td style="height: 30px; background-repeat: repeat-x; background-image: url('<%= image_path('gradient.png') %>')">
          </td>
        </tr>

        <table border="0" cellpadding="0" cellspacing="0" style="margin-top: 15px; background-color: #f1f1f1; width: 794px">
          <tr>
            <td style="width: 40%">
              <p style="background-color: white;margin: 6px;font-size: 11px;color: #a1a3a5;font-family:arial,helvetica,sans-serif;padding: 6px;">
                You are receiving this communication to confirm the status of your order of Johnson & Johnson Inc. products purchased on Well.ca.
                <br>
                <br>
                <a href="http://www.rogaine.ca/privacy" target="_blank" style="color: #777777;font-size: 11px;text-decoration: underline;font-family:arial,helvetica,sans-serif;">Privacy Policy</a>
              </p>
            </td>
            <td style="width: 1%">
            </td>
            <td style="width: 40%">
              <p style="background-color: white;margin: 6px;font-size: 11px;color: #a1a3a5;font-family:arial,helvetica,sans-serif;padding: 6px;">
                If you no longer wish to receive these communications, please <%= link_to 'click unsubscribe', unsubscribe_url(proxy_user.signature), target: '_blank', style: 'color: #777777; font-size: 11px; text-decoration: underline; font-family: arial, helvetica, sans-serif' %> or write to us at:
                <br>
                <br>
                Johnson & Johnson Inc. Orders Canadian Information Centre, 199 Grandview Road, Skilman, NJ, 08558-9418, U.S.A or phone us at 1-866-296-9135.
              </p>
            </td>
          </tr>
        </table>

        <table border="0" cellpadding="0" cellspacing="0" width="794px" style="margin-top: 10px; margin-bottom: 25px">
          <tr>
            <td style="color: #a1a3a5; font-family:arial,helvetica,sans-serif;font-size:11px;">
              <p style="margin-top: 10px;">*Well.ca is a registered trademark owned by Well.ca Inc. The Well.ca ecommerce services are subject to the terms and conditions of use of Well.ca Inc. and can be reviewed <a href="https://well.ca/terms.html" target="_blank" style="color: #777777; text-decoration: underline;">here</a>. Johnson & Johnson Inc. (JJI) is providing information from your product purchase request to the Well.ca site for the purchase of JJI products and is not affiliated with Well.ca INC.; nor is JJI responsible for the sale or delivery of JJI products that you select for purchase from the Well.ca site.</p>
              <p style="margin-top: 10px;">Please do not reply to this email. If you have any comments, questions, or general feedback, please contact our Consumer Care Center by <a href="http://www.rogaine.ca/contact-us" target="_blank" style="color: #777777; text-decoration: underline;">clicking here</a> to ensure we receive your communication.</p>

              <p style="margin: 0px;">Well.ca Pharmacy Accreditation as of November 11th 2015</p>
              <p style="margin: 0px;">OPC Certificate Accreditation #304222</p>
              <p style="margin: 0px;">Your Pharmacist is Philip Rosenberg</p>
              <p style="margin: 0px;">Central Fill Solutions Inc. 346 Millway Ave. Vaughan ON L4K 3W1</p>
              <p style="margin: 0px;">Call Well.ca Toll Free. 1-866-640-3800</p>

              <p style="margin-top: 10px;">This communication is sent by Shopbeam Inc. on behalf of Johnson & Johnson Inc., which is solely responsible for its content.</p>
              <p style="margin-top: 10px;">This communication is intended for visitors from Canada only and is subject to the terms of our <a href="http://www.rogaine.ca/legal" target="_blank" style="color: #777777; text-decoration: underline;">Legal Notice</a> and <a href="http://www.rogaine.ca/privacy" target="_blank" style="color: #777777; text-decoration: underline;">Privacy Policy</a>. </p>
              <p style="margin-top: 10px;">&copy; Johnson & Johnson Inc. 2015</p>

            </td>
          </tr>
        </table>
      </table>

      <!--*** End of: Table used to center email ***-->
</body>
</html>
