!!!
%html
  %head
    %title ShopBeam Order
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    :css
      //
        #outlook a {padding:0;}
        body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
        .ExternalClass {width:100%;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
        #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}

        img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
        a img {border:none;}
        .image_fix {display:block;}

        .ReadMsgBody {width: 100%;}
        .ExternalClass {width: 100%;}
        a{color:#000;}
        a:hover { text-decoration: none !important; }
        span.yshortcuts { color:#000; background-color:none; border:none;}
        span.yshortcuts:hover { color: #000 !important; background-color: none !important; border: none !important; }
        span.yshortcuts:active { color: #000 !important; background-color: none !important; border: none !important; }
        span.yshortcuts:focus { color: #000 !important; background-color: none !important; border: none !important; }

        body {margin: 0; padding: 0; min-width: 100%!important;}
        img {height: auto;}
        table {border-collapse:separate; border-spacing: 0;}
        p{color:#000;font-family:helvetica, times new roman, sans-serif;margin:0px;padding:0px;}

        .content {width: 600px; max-width: 600px;}
        .header {padding: 0px 0px 0px 0px;}
        .innerpadding {padding: 20px 20px 5px 20px;}
        .borderbottom {border-bottom: 1px solid #a19f9d;}
        .subhead {font-size: 15px; color: #ffffff; font-family: sans-serif; letter-spacing: 10px;}
        .h1, .h2 {color: #000000; font-family: helvetica, times new roman, sans-serif;}
        .h1 {font-size: 33px; line-height: 38px; font-weight: bold;}
        .h2 {padding: 0 0 15px 0; font-size: 24px; line-height: 28px; font-weight: bold;}
        p.bodytext {font-size: 17px; line-height: 20px; margin:0px 0px 20px 0px;padding:0px;}
        .footer {padding: 30px 30px 30px 30px;}
        .footercopy, .footercopy p {font-family: sans-serif; font-size: 14px; line-height: 20px; color: #ffffff;}
        .footercopy a {color: #ffffff; text-decoration: underline;}
        .fix250{max-width: 250px;}
        .tableheading {padding:1px 0 1px 0; border-top:1px solid #a19f9d; border-bottom:1px solid #a19f9d; font-style: italic; text-align: left;}
        .tableprice {text-align: right; padding-right: 10px;}
        .tablecomm {text-align: right;}
        .cellqty {padding-top: 5px; padding-bottom: 5px; text-align: center; vertical-align: bottom;}
        .cellprice {padding-top:5px; padding-bottom: 5px; vertical-align: bottom; text-align: right; padding-right:10px; }
        .cellcomm {padding-top: 5px; padding-bottom: 5px; vertical-align: bottom; text-align: right; }
        .productdetail {padding:5px 0 5px 0;}
        .productdesc {padding: 15px 0 15px 0; font-size: 15px ; line-height: 18px; color: #000000; font-family: helvetica, times new roman, sans-serif;}
        .bodytextsmall {font-size: 19px ; line-height: 22px; color: #000000; font-family: helvetica, times new roman, sans-serif;}
        .addresses {padding-bottom:20px;}
        .paymentdetails {padding-bottom:20px;max-width:600px!important;}
        .ordernumber {max-width:100%!important;padding-top:10px;padding-bottom:10px;width:100%;float:none;clear: both;}
        .ordernumber td {text-align: left;}
        .show{display: none;}

        a, a[href^="tel"], a[href^="sms"] {text-decoration: underline;color: black;pointer-events: none;cursor: default;}
        a:hover {text-decoration:underline;}
        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {text-decoration: underline;color: #ffffff!important;pointer-events: auto;cursor: default;}
        .mobile_link {text-decoration: none;}

        @media  (max-width: 599px){
          .content {width: 100%!important; max-width: 600px!important;}
        }
        @media (min-width: 600px){
          .innerpadding {padding-top:35px!important;padding-left: 40px!important; padding-right: 40px!important;}
          .show{display: table!important;}
          .tableprice {padding-right:10px!important;}
          .cellprice {padding-right:10px!important;}
          .paymentdetails {max-width:130px!important;}
          .ordernumber {max-width:245px !important;padding-top:0px !important;width:100%;float:right !important;clear: none!important;adding-bottom:0px!important;}
          .ordernumber td {text-align: right!important;}
          p.bodytext {font-size: 17px!important; line-height: 20px!important;}
        }

        @media only screen and (max-width: 599px), screen and (max-device-width: 599px) {
          body[yahoo] .innerpadding{padding: 20px 20px 20px 20px!important;}
          body[yahoo] .hide {display: none!important;}
          body[yahoo] .tableprice {padding-right: 0px!important;}
          body[yahoo] .cellprice {padding-top:5px!important; padding-right: 0px!important;}
          body[yahoo] .productdesc {padding-top: 0px!important;}
          body[yahoo] .cellqty {padding-top:5px!important;}
          body[yahoo] .ordernumber {padding-top:10px!important;padding-bottom:10px!important;width:100%!important;float:none!important;}
          body[yahoo] .ordernumber td {text-align: left!important;}
          body[yahoo] .addresses {padding-bottom:20px!important;}
          body[yahoo] .paymentdetails {padding-bottom:20px!important;float:none!important;}
          body[yahoo] .orderplace, body[yahoo] .ordernumber{max-width:245px!important;}

          a[href^="tel"], a[href^="sms"] {text-decoration: none;color: black;pointer-events: none;cursor: default;}
          .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {text-decoration: default;color: #ffffff!important;pointer-events: auto;cursor: default;}
        }
        @media only screen and (-webkit-device-pixel-ratio:.75), only screen and (-webkit-device-pixel-ratio:1), only screen and (-webkit-device-pixel-ratio:1.5){

        }
  %body(yahoo bgcolor="#eeeeee" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;width: 100% !important;min-width: 100%!important;")
    %table(width="100%" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate;border-spacing: 0;")
      %tr
        %td
          <!--[if (gte mso 9)|(IE)]>
          <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
          <tr>
          <td>
          <![endif]-->
          %table.content(bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: separate;border-spacing: 0;width: 600px;max-width: 600px;")
            %tr
              %td.header(bgcolor="#000000" class="header" style="padding: 0px 0px 0px 0px;")
                %center
                  %table(width="320" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate;border-spacing: 0;")
                    %tr
                      %td(height="58" style="padding: 20px 0 20px 0;")
                        %center
                          %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;")
                            %img.image_fix(src="https://s3.amazonaws.com/statix/emails/header-shopbeam.png" width="320" height="58" border="0" alt="" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;height: auto;display: block;")
            %tr
              %td.innerpadding(style="padding: 20px 20px 5px 20px;")
                %table(width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;border-spacing: 0;")
                  %tr
                    %td.bodytext(style="border-collapse: collapse;")
                      %p.bodytext(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px 0px 20px 0px;padding: 0px;font-size: 17px;line-height: 20px;")
                        Dear #{@publisher.full_name},
                      %p.bodytext(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px 0px 20px 0px;padding: 0px;font-size: 17px;line-height: 20px;")
                        We have an important update in your account.
                      %p.bodytext(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;font-size: 17px;line-height: 20px;")
                        The following order has been made from
                        = succeed '.' do
                          %a.mobile_link(href="#{@order.source_url}" style="text-decoration:underline; color: #000;") your post
            %tr
              %td.innerpadding(style="padding: 20px 20px 5px 20px;")
                <!--[if (gte mso 9)|(IE)]>
                <table width="245" align="left" cellpadding="0" cellspacing="0" border="0">
                <tr>
                <td>
                <![endif]-->
                %table.orderplace(align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%;max-width: 245px;border-collapse: separate;border-spacing: 0;")
                  %tr
                    %td.bodytextsmall(style="font-size: 19px;line-height: 22px;color: #000000;font-family: helvetica, times new roman, sans-serif;")
                      %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;")
                        Details for Order ##{@order.id}
                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->
                <!--[if (gte mso 9)|(IE)]>
                <table width="245" align="right" cellpadding="0" cellspacing="0" border="0">
                <tr>
                <td>
                <![endif]-->
                %table.ordernumber(align="right" border="0" cellpadding="0" cellspacing="0" style="width: 100%;max-width: 245px;border-collapse: separate;border-spacing: 0;padding-top: 10px;padding-bottom: 10px;float: none;clear: both;")
                  %tr
                    %td.bodytextsmall(align="right" style="font-size: 19px;line-height: 22px;color: #000000;font-family: helvetica, times new roman, sans-serif;text-align: left;")
                      %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;")
                        Order Placed #{@order.created_at}
                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->
                %table(width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;border-spacing: 0;")
                  %tr
                    %td.tableheading(style="padding: 1px 0 1px 0;border-top: 1px solid #a19f9d;border-bottom: 1px solid #a19f9d;font-style: italic;text-align: left;")
                      %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;") ITEM
                    %td.tableheading(width="10%" style="padding: 1px 0 1px 0;border-top: 1px solid #a19f9d;border-bottom: 1px solid #a19f9d;font-style: italic;text-align: left;")
                      %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;") QTY
                    %td.tableheading.tableprice(width="15%" style="padding: 1px 0 1px 0;border-top: 1px solid #a19f9d;border-bottom: 1px solid #a19f9d;font-style: italic;text-align: right;padding-right: 10px;")
                      %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;") PRICE
                    %td.tableheading.tablecomm(width="15%" style="padding: 1px 0 1px 0;border-top: 1px solid #a19f9d;border-bottom: 1px solid #a19f9d;font-style: italic;text-align: right;")
                      %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;") COMM
                  - @publisher.order_items.each do |item|
                    %tr
                      %td.productdetail.borderbottom(style="border-bottom: 1px solid #a19f9d;padding: 5px 0 5px 0;")
                        %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;")
                          = item.brand_name
                          %br
                          = item.product_name
                      %td.cellqty.borderbottom(style="border-bottom: 1px solid #a19f9d;padding-top: 5px;padding-bottom: 5px;text-align: center;vertical-align: bottom;")
                        %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;")
                          = item.quantity
                      %td.cellprice.borderbottom(style="border-bottom: 1px solid #a19f9d;padding-top: 5px;padding-bottom: 5px;vertical-align: bottom;text-align: right;padding-right: 10px;")
                        %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;")
                          = item.price
                      %td.cellcomm.borderbottom(style="border-bottom: 1px solid #a19f9d;padding-top: 5px;padding-bottom: 5px;vertical-align: bottom;text-align: right;")
                        %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;")
                          = item.commission
                  %tr
                    %td.productdetail(style="padding: 5px 0 5px 0;")
                      %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;")
                        %strong Commission Earned
                    %td.cellqty(style="padding-top: 5px;padding-bottom: 5px;text-align: center;vertical-align: bottom;")
                    %td.cellprice(style="padding-top: 5px;padding-bottom: 5px;vertical-align: bottom;text-align: right;padding-right: 10px;")
                    %td.cellcomm(style="padding-top: 5px;padding-bottom: 5px;vertical-align: bottom;text-align: right;")
                      %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;")
                        %strong
                          = @publisher.commission
            %tr
              %td.innerpadding(style="padding: 20px;")
                %table(width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;border-spacing: 0;")
                  %tr
                    %td(align="center")
                      <!--[if (gte mso 9)|(IE)]>
                      <table width="250" align="center" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                      <td>
                      <![endif]-->
                      %center
                        %p(style="color: #000;font-family: helvetica, times new roman, sans-serif;margin: 0px;padding: 0px;")
                          %img.image_fix.fix250(src="https://s3.amazonaws.com/statix/emails/thank-you-black.png" width="320" border="0" alt="Thank You" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;height: auto;display: block;max-width: 250px;")
                      <!--[if (gte mso 9)|(IE)]>
                      </td>
                      </tr>
                      </table>
                      <![endif]-->
            = render 'footer'
          <!--[if (gte mso 9)|(IE)]>
          </td>
          </tr>
          </table>
          <![endif]-->
